<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="f2015.itsmap.ghostbar_controller" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/BeerTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <intent-filter>
                <action android:name="ItogDataService.RESULT_BEER_SERVICE_NEW_ORDER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="ItogDataService.RESULT_BEER_SERVICE_SET_ORDER_SUCCESS"/>
            </intent-filter>
            <action android:name="ItogDataService.ERROR_CALL_SERVICE"/>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <service android:name=".BeerServerService" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
